# <center>Basics</center>

## Let's write our first "Hello world!" program :)

- Run on interactive shell

- Run as python script

[Let's solve our first challenge!](https://www.hackerrank.com/challenges/py-hello-world)

In [1]:
print("Hello World !")

Hello World !

## Putting comments


![](images/comments.jpg)

> Code tells you how, comments should tell you why.

In [2]:
# this is a comment in python

In [11]:
def func():
    '''
        this is a 
        multi line comment
    '''
    return "jatin"

In [14]:
print?

In [6]:
def add(a, b):
    return a+b

In [7]:
add(1, 2)

3

In [8]:
print(print(3 + 5))

8
None

In [10]:
None

In [5]:
3 + 5

8

## Literal constants

- Numbers
    - Integers
    - Floats
- Strings
    - Single quotes
    - Double quotes
    - Triple quotes
    - Escape sequences (\n, \t, \r)
    - Explicit line joining

### First class citizens
- int
- float
- str
- complex

### dynamically typed language

In [19]:
isinstance(isinstance, object)

True

In [20]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [21]:
a = 1.5
print(a)
print(type(a))

1.5
<class 'float'>

In [22]:
a = "jatin"
print(a)
print(type(a))

jatin
<class 'str'>

In [26]:
a = 1 + 5j
print(a)
print(type(a))

(1+5j)
<class 'complex'>

## Variables

A type of **identifier**.

Rules for naming identifiers:

- The first character of the identifier must be a letter of the alphabet (uppercase ASCII or lowercase ASCII or Unicode character) or an underscore (_).
    
- The rest of the identifier name can consist of letters (uppercase ASCII or lowercase ASCII or Unicode character), underscores (_) or digits (0-9).
    
- Identifier names are case-sensitive. For example, myname and myName are not the same. Note the lowercase n in the former and the uppercase N in the latter.
    
Examples of valid identifier names are i, name_2_3. 


Examples of invalid identifier names are 2things, this is spaced out, my-name and >a1b2_c3.

In [30]:
_________________________________ = 10

In [31]:
print(_________________________________)

10

## Data Types

Variables can hold values of different types called data types. 

The basic types:
- numbers
- strings

## Indentation

![](images/indent.jpg)

- Whitespace is important in Python. 

- Actually, whitespace at the beginning of the line is important. This is called indentation. 

- Leading whitespace (spaces and tabs) at the beginning of the logical line is used to determine the indentation level of  the logical line, which in turn is used to determine the grouping of statements.

- This means that statements which go together must have the same indentation. Each such set of statements is called a block.

## Issue with indentation

### Tabs vs spaces

![](images/tabs_vs_spaces.jpg)

### The solution...

![](images/usetabs.jpeg)

## Something more about print function...

- format method

- **end** and **sep**

In [40]:
print(1, 2, 3, 4, 5, sep = ":")

1:2:3:4:5

In [35]:
print("jatin", "katyal", "python", sep = ", ")

jatin, katyal, python

In [37]:
print("Hello", end = " !")
print("World !")

Hello !World !

In [38]:
print("jatin")
print("katyal")

jatin
katyal

## Taking user input

- input() function

- concept of type conversion

In [ ]:
a = input()

In [61]:
a

'1 2 3 4 5 6'

In [56]:
print(type(a))

<class 'int'>